@import "variables";
@import "bootstrap/scss/bootstrap";

body {
  font-family: "Poppins", sans-serif;
  background-color: #0a0a0a;
  color: #fff;
  scroll-behavior: smooth;
}

h2 {
  color: #0071e3;
  font-weight: 600;
}
